! Terminal colors
*color0: #9f7b49
*color1: #eacb97
*color2: #674c49
*color3: #7f6b60
*color4: #6e6278
*color5: #a79ba9
*color6: #5d5e96
*color7: #464364
*color8: #867c97
*color9: #281e37
*color10: #060602
*color11: #908fb8
*color12: #c4c2cf
*color13: #141420
*color14: #4f2f16
*color15: #503641

*.foreground: #ffffff
*.background: #000000

! Urxvrt
URxvt*.depth: 32
URxvt.background: [85]#000000
URxvt.scrollBar: false
URxvt.perl-ext-common: default
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
